.Causes{
    height: 547px;
    margin-top: 10%;
}
.question{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--FontMain);
    font-size: 46px;
}
.Causes__row{
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
}
.speed , .support, .security{
    width: 280px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--FontMain);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.mess, .flesh, .lock{
    height: 40px;
    width: 40px;
    margin-top: 20px;

}
.causes__text{
    margin-top: 5%;
    font-size: 20px;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.desc{
    text-align: center;
}


@media (max-width: 920px) {
    .Causes__row {
        display: block;
    }
    .speed,
    .support,
    .security {
        width: 100%;
        margin-bottom: 30px;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .question {
        font-size: 36px;
    }
}