.currencies {
    &__wrapper {
        box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.04);
        border-radius: 8px;
        padding: 20px 0;
    }
    &__tabs-inner {
        display: flex;
        justify-content: center;
        gap: 0 30px;
        margin-bottom: 30px;
    }
    &__tab {
        color: #71717A;
        font-size: 14px;
        cursor: pointer;
    }
    &__tab--active {
        color: #18181B;
        cursor: default;
    }
    &__content {
        border-top: 1px solid #F4F4F5;
        border-bottom: 1px solid #F4F4F5;
    }
    &__content-top {
        padding: 16px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        color: #18181B;
        border-bottom: 1px solid #F4F4F5;
        &__text:last-child {
            color: transparent;
        }
    }
    &__content-token {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 30px;
        font-size: 15px;
        .asset {
            display: flex;
            align-items: center;
            gap: 0 8px;
            text-transform: capitalize;
            max-width: 30px;
        }
        .price {
            position: relative;
            span {
                position: absolute;
                top: -1px;
                right: -30px;
                font-size: 13px;
                color: #A1A1AA;
            }
            align-items: start;
            max-width: 100px;
        }
        .change {
            position: relative;
            padding-right: 25px;
            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                width: 16px;
                height: 16px;
                background-image: url(../../img/icons/arrow-top.svg);
                background-repeat: no-repeat;
            }
        }
        .change--top {
            color: #10B981;
        }
        .change--down {
            color: #F43F5E;
        }
        .buy__link {
            color: #01271C;
            font-size: 11px;
            padding: 10px 15px;
            background: #4CFDC7;
            border: 1px solid #4CFDC7;
            border-radius: 4px;
        }
    }
    &__content-token + .currencies__content-token {
        border-top: 1px solid #F4F4F5;
    }
}