.getstarted{
    margin-top: 5%;
    height: 300px;
}
.getstarted__text{
    font-size: 46px;
    width: 40%;
}
.getstart{
    margin-top: 3%;
}

@media (max-width: 992px) {
    .getstarted {
        margin-bottom: 100px;
        height: auto;
    }
    .getstarted__text {
        width: 100%;
        max-width: 450px;
    }
}

@media (max-width: 500px) {
    .getstarted {
        margin-top: -30px;
    }
    .getstarted__text {
        font-size: 36px;
    }
}