
.mainlinks{
    display: block;
    margin-top: 10%;
    width: 100%;
    height: 500px;
}
.main__info__links{
    display: flex;
    flex-wrap: wrap;
}
.links__img{
    width: 157px;
    height: 77px;
}
.links__title{
    font-size: 46px;
    width: 100%;
    height: 70px;
}
.links__desc{
    margin-top: 5%;
    font-size: 16px;
    width: 40%;
    text-align: left;
}
.links__btn__row{
    margin-top: 5%;
    display: flex;
    width: 100%;

}
.desc__row{
    width: 100%;
}
.links__learnmore{
    margin-top: 5%;
    width: 100%;
    font-size: 16px;
}


@media (max-width: 768px) {
    .mainlinks {
        margin-top: -100px;
    }
}

@media (max-width: 500px) {
    .mainlinks {
        margin-top: 50px;
    }
    .links__title {
        font-size: 38px;
    }
    .links__desc {
        font-size: 16px;
        margin-top: 10px;
    }
}