.Trade{
    margin-top: 7%;
    height: 630px;

}
.trade__causes{
    margin-top: 8%;
    width: 240px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1 );
}
.trade__causes__row{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between  ;
    width: 50%;

}
.Trade__title-mini{
    width: 100%;
    font-family: var(--FontMain);
    font-size: 16px;
}
.Trade__title{
    width: 100%;
    margin-top: 2%;
    font-family: var(--FontMain);
    font-size: 40px;
}
.trade__causes-mini{
    margin-top: 8%;
    font-family: var(--FontMain);
    font-size: 16px;
    margin-left: 10px;
}
.trade__causes__desc{
    margin-top: 4%;
    font-family: var(--FontMain);
    font-size: 14px;
    margin-left: 10px;
}
.trade__img{
    margin-left: 10px;
    margin-top: 7px;
    user-select: None;  
}
.TradePhone{
    width: 524px;
    height: 414px;
    margin-top: 10%;
    margin-left: 5%;
}
.main__trade__row{
    display: flex;
    justify-content: space-between;
}
.WalletPhone{
    width: 524px;
    height: 460px;
    margin-top: 10%;
}