<section class="Causes container">
    <div class="question" data-aos="fade-right">Why BTC Markets?</div>
    <div class="Causes__row">
        <div class="security">
            <img src="../svg/Lock.svg" alt="not founded" class="lock">
            <div class="causes__text">Security</div>
            <div class="desc">Multiple layers of account security, 2FA, address whitelisting, Biometrics.</div>
        </div>
        <div class="speed">
            <img src="../svg/Flash.svg" alt="not founded" class="flesh">
            <div class="causes__text">Speed</div>
            <div class="desc">Fast trade executions with an industry leading uptime of 99.99%</div>
        </div>
        <div class="support">
            <img src="../svg/Massage.svg" alt="not founded" class="mess">
            <div class="causes__text">Support</div>
            <div class="desc">100% Australian-based customer support, OTC desk and VIP Program.</div>
        </div>
    </div>
</section>