<section class="currencies">
    <div class="container">
        <div class="currencies__wrapper">
            <div class="currencies__tabs-inner">
                <div class="currencies__tab currencies__tab--active">
                    Most Popular
                </div>
                <div class="currencies__tab">
                    Top Movers
                </div>
            </div>
            <div class="currencies__content">
                <div class="currencies__content-top">
                    <p class="currencies__content-top__text">Asset</p>
                    <p class="currencies__content-top__text">Last Price</p>
                    <p class="currencies__content-top__text">24hr Change</p>
                    <p class="currencies__content-top__text">Market Cap</p>
                    <p class="currencies__content-top__text">empty</p>
                </div>
                <ul class="currencies__content-tokens">
                </ul>
            </div>
            <div class="currencies__content hide">
                <div class="currencies__content-top">
                    <p class="currencies__content-top__text">Asset</p>
                    <p class="currencies__content-top__text">Last Price</p>
                    <p class="currencies__content-top__text">24hr Change</p>
                    <p class="currencies__content-top__text">Market Cap</p>
                    <p class="currencies__content-top__text">empty</p>
                </div>
                <ul class="currencies__content-tokens">
                </ul>
            </div>
        </div>
    </div>
</section>