<section class="currencies">
    <div class="container">
        <div class="currencies__wrapper">
            <div class="currencies__tabs-inner">
                <div class="currencies__tab currencies__tab--active">
                    Most Popular
                </div>
                <div class="currencies__tab">
                    Top Movers
                </div>
            </div>
            <div class="currencies__content">
                <div class="currencies__content-top">
                    <p class="currencies__content-top__text">Asset</p>
                    <p class="currencies__content-top__text">Last Price</p>
                    <p class="currencies__content-top__text">24hr Change</p>
                    <p class="currencies__content-top__text">Market Cap</p>
                    <p class="currencies__content-top__text">empty</p>
                </div>
                <ul class="currencies__content-tokens">
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/xrp.svg" alt="icon">
                            xrp
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/btc.svg" alt="icon">
                            bitcoin
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change change--top">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/eth.svg" alt="icon">
                            ethereum
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change change--down">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/tth.svg" alt="icon">
                            tether
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/enj.svg" alt="icon">
                            enjin
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                </ul>
            </div>
            <div class="currencies__content hide">
                <div class="currencies__content-top">
                    <p class="currencies__content-top__text">Asset</p>
                    <p class="currencies__content-top__text">Last Price</p>
                    <p class="currencies__content-top__text">24hr Change</p>
                    <p class="currencies__content-top__text">Market Cap</p>
                    <p class="currencies__content-top__text">empty</p>
                </div>
                <ul class="currencies__content-tokens">
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/xrp.svg" alt="icon">
                            xrp
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/btc.svg" alt="icon">
                            bitcoin
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/eth.svg" alt="icon">
                            ethereum
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/tth.svg" alt="icon">
                            tether
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                    <li class="currencies__content-token">
                        <div class="asset">
                            <img src="../img/icons/enj.svg" alt="icon">
                            enjin
                        </div>
                        <div class="price">
                            $0.5617
                            <span>AUD</span>
                        </div>
                        <div class="change">
                            1.57%
                        </div>
                        <div class="cap">
                            $28B
                        </div>
                        <a href="#" class="buy__link">Buy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>