<footer class="footer container">
  <a href="#" class="logo__link"><img src="../svg/Logo.svg" alt = "not founded" class="svg__logo"></img></a>
  <div class="column__row">
    <ul class="column">
      <a href="#">
        <li class="name__column">About us</li>
      </a>
      <a href="#">
        <li class="column__item">Mobile app</li>
      </a>
      <a href="#">
        <li class="column__item">Staking</li>
      </a>
      <a href="#">
        <li class="column__item">Self Managed Super Funds</li>
      </a>
      <a href="#">
        <li class="column__item">OTC Trading</li>
      </a>
      <a href="#">
        <li class="column__item">VIP Program</li>
      </a>
      <a href="#">
        <li class="column__item">Investor Study Report</li>
      </a>
      <a href="#">
        <li class="column__item">Contact Us</li>
      </a>
      <a href="#">
        <li class="column__item">Blog</li>
      </a>
    </ul>
    <ul class="column">
      <li class="name__column">legal</li>
      <a href="#">
        <li class="column__item">Privacy Policy</li>
      </a>
      <a href="#">
        <li class="column__item">Terms of Service</li>
      </a>
      <a href="#">
        <li class="column__item">AML/CTF Policy</li>
      </a>
      <a href="#">
        <li class="column__item">Protect Yourself Online</li>
      </a>
      <a href="#">
        <li class="column__item">Information Requests</li>
      </a>
    </ul>
    <ul class="column">
      <li class="name__column">help</li>
      <a href="#">
        <li class="column__item">Support</li>
      </a>
      <a href="#">
        <li class="column__item">Complaints</li>
      </a>
      <a href="#">
        <li class="column__item">FAQs</li>
      </a>
      <a href="#">
        <li class="column__item">Fees</li>
      </a>
      <a href="#">
        <li class="column__item">Bug Bounty</li>
      </a>
      <a href="#">
        <li class="column__item">API</li>
      </a>
      <a href="#">
        <li class="column__item">Tax Reporting</li>
      </a>
    </ul>
    <ul class="column">
      <li class="name__column">follow</li>
      <li><a href="#"><div class="foote__icons"><img src="../svg/Twitter.svg" alt="not founded"> Twitter</div></a></li>
      <li><a href="#"><div class="foote__icons"><img src="../svg/Facebook.svg" alt="not founded">Facebook</div></a></li>
      <li><a href="#"><div class="foote__icons"><img src="../svg/LinkedIn.svg" alt="not founded">LinkedIn</div></a></li>
      <li><a href="#"><div class="foote__icons"><img src="../svg/Telegram.svg" alt="not founded">Telegram</div></a></li>
      <li><a href="#"><div class="foote__icons"><img src="../svg/Instagram.svg" alt="not founded">Instagram</div></a></li>
    </ul>
    <ul class="column">
      <li class="name__column">Get started</li>
      <a href="#">
        <li class="column__item">Log in</li>
      </a>
      <a href="#">
        <li class="column__item">Sign up</li>
      </a>
      <a href="#">
        <li class="column__item"><img src="../img/Appstore.png" alt="not founded" class = "footer__img"></li>
      </a>
      <a href="#">  
        <li class="column__item"><img src="../img/Googleplay.png" alt="not founded" class = "footer__img"></li>
      </a>
    </ul>
  </div>
  <div class="code">ACN 164 093 887 | ABN 45 164 093 887</div>
  <div class="market"><img src="../svg/2023.svg" alt="not founded">BTC Markets Pty Ltd. All rights reserved.</div>
  <div class="finally__text">BTC Markets Pty Ltd ACN 164 093 887 is an authorised representative (AR No. 1297122) of BTCM Payments Pty Ltd ACN 643 241 829 (AFSL No. 525840)</div>
</footer>
