<section class="GoogleAdd container">
    <div class="main__info" data-aos="fade-right">
        <div class="title__text">Buy, sell and trade crypto today</div>
        <div class="main__text">Trade with confidence and build your future with Australia’s fastest crypto exchange.</div>
        <div class="btns__main">
            <a href="#" class = "Btn__getstarted">Get started</a>
            <a href="#" class = "Btn__View">View exchange</a>
        </div>
        <img src="../svg/Google.svg" alt="not founded" class = "Google__rate"> 
    </div>
    <img src="../img/Phone.png" alt="not founded" class ="Phone">
</section>