<header class="header">
  <div class="container container__header">
    <a>
      <div class= "img__logo"></div>
    </a>
    <ul class="navigation__panel">
      <li class="navigation__item">
        <a href="#">
          Products
        <div class="check_mark"></div>
        </a>
      </li>
      <li class="navigation__item"> 
        <a href="#">
          Prices
        </a>
      </li>
      <li class="navigation__item">
        <a href="#">
          Buy
        <div  class="check_mark"></div>
        </a>
      </li>
      <li class="navigation__item">
        <a href="#">OTC</a>
      </li>
      <li class="navigation__item">
        <a href="#">
          Learn
          <div class="check_mark"></div>
        </a>
      </li>
      <li class="navigation__item">
        <a href="#">
          Help
          <div class="check_mark"></div>
        </a>
      </li>
    </ul>
    <div class="btn__log-in"></div>
    <div class="btn__sign-up"></div>
  </div>
</header>
