<header class="header">
  <div class="container container__header">
      <a href="" class="logo__link"><img src="../svg/Logo.svg" alt = "not founded" class="svg__logo header__logo"></img></a>
      <div class="interactive__items interactive__items--active">
        <nav >
          <ul class="navigation__panel">
            <li  class = "navigation__item__row">
              <a href="#" class="navigation__item" >
                Products 
                <img src="../svg/Check_mark.svg" alt="not founded" class="check_mark">
              </a>
            </li>
            <li >
              <a href="#" class="navigation__item">
                Prices
              </a>
            </li>
            <li >
              <a href="#" class="navigation__item">
                Buy
                <img src="../svg/Check_mark.svg" alt="not founded" class="check_mark">
              </a>
            </li>
            <li>
              <a href="#" class="navigation__item">
                OTC
              </a>
            </li>
            <li>
              <a href="#" class="navigation__item">
                Learn
                <img src="../svg/Check_mark.svg" alt="not founded" class="check_mark">
              </a>
            </li>
            <li >
              <a href="#" class="navigation__item">
                Help
                <img src="../svg/Check_mark.svg" alt="not founded" class="check_mark">
              </a>
            </li>
            <li>
              <div class="btns__row">
                <a href="" class="log_in__link">
                  <div class="btn__login">Log in</div>
                </a>
                <a href="" class="sign_in__link">
                <div class="btn__signin">Sign in</div>
                </a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__mob-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</header>