<section class="instructions container">
    <div class="title__row">   
         <div class="instructions__title">Start trading in 3 easy steps</div>
    </div>
    <div class="instructions__causes__row animate__animated animate__fadeInDown">
        <div class="rows">
            <img src="../svg/Create.svg" alt="not founded" class="img__insrtuction">
            <div class="instructions__mini__title">1. Create</div>
            <div class="instructions__desc">Sign up and verify your free account.</div>
        </div>
        <div class="rows">
            <img src="../svg/Deposit.svg" alt="not founded" class="img__insrtuction">
            <div class="instructions__mini__title">2. Deposit</div>
            <div class="instructions__desc">Add AUD or crypto to your wallet using our secure methods</div>
        </div>
        <div class="rows">
            <img src="../svg/Trade.svg" alt="not founded" class="img__insrtuction">
            <div class="instructions__mini__title">3. Trade</div>
            <div class="instructions__desc">You’re all set. Buy, sell and trade crypto immediately.</div>
        </div>
    </div>
    <div class="btn__with__rate">
        <a href="#" class = "Btn__getstarted">Get started</a>
        <img src="../svg/Google.svg" alt="not founded" class = "instructions__btn"> 
    </div>
   
</section>