<setion class="mainlinks container" data-aos="fade-left">
    <div class="main__info__links">
        <div class="links__title">Trade on the go</div>
        <div class="desc__row"><div class="links__desc">Place simple and advanced trades on the go with the BTC Markets app. You can also manage your portfolio, monitor prices, and track market movements, anywhere, anytime.</div></div>        
        <div class="links__btn__row">
            <a href="#"><img src="../svg/AppstoreRate.svg" alt="not founded" class = "links__img"></a>
            <a href="#"><img src="../svg/GoogleplayRate.svg" alt="not founded" class = "links__img"></a>
        </div>
        <div class="links__learnmore"> <a href="#">Learn more</a> </div>
    </div>
</setion>