<section class="news container">
    <div class="main__row">
        <div class="news__title">Find out the latest crypto news</div>
        <div class="news__blocks__row">
            <div class="news__item">
                <img src="../img/News.png" alt="not founded">
                <div class="news__item__pers">
                    <div class="newsletter">Newsletter</div>
                    <div class="date">Jan 19th 2023</div>
                </div>
                <div class="news__item__title">This Week in Crypto: 19th January 2023</div>
                <div class="readmore"><a href="#"> Read more</a></div>
            </div>
            <div class="news__item">
                <img src="../img/News.png" alt="not founded">
                <div class="news__item__pers">
                    <div class="newsletter">Newsletter</div>
                    <div class="date">Jan 12th 2023</div>
                </div>
                <div class="news__item__title">This Week in Crypto: 12th January 2023</div>
                <div class="readmore"><a href="#"> Read more</a></div>

            </div>
            <div class="news__item">
                <img src="../img/News.png" alt="not founded">
                <div class="news__item__pers">
                    <div class="newsletter">Newsletter</div>
                    <div class="date">Dec 27th 2022</div>
                </div>
                <div class="news__item__title">BTC Markets Brand Refresh</div>
                <div class="readmore"><a href="#"> Read more</a></div>
            </div>
        </div>
        <div class="news__more">Check out more of our crypto news</div>
        <div class="socials__links__row">
            <div class="socials__links">
                <div class="socials__links__item"><a href="#"><div class="socials__links__text"><img src="../svg/Twitter.svg" alt="not founded"> Twitter</div></a></div>
                <div class="socials__links__item"><a href="#"><div class="socials__links__text"><img src="../svg/Facebook.svg" alt="not founded">Facebook</div></a></div>
                <div class="socials__links__item"><a href="#"><div class="socials__links__text"><img src="../svg/LinkedIn.svg" alt="not founded">LinkedIn</div></a></div>
                <div class="socials__links__item"><a href="#"><div class="socials__links__text"><img src="../svg/Telegram.svg" alt="not founded">Telegram</div></a></div>
                <div class="socials__links__item"><a href="#"><div class="socials__links__text"><img src="../svg/Instagram.svg" alt="not founded">Instagram</div></a></div>
            </div>
        </div>
    </div>
</section>