<section class="Trade container">
    <div class="main__trade__row"> 
        <div class="trade__causes__row">
            <div class="Trade__title-mini">TRADE</div>
            <div class="Trade__title">Buy, sell and trade crypto with confidence</div>
            <div class="trade__causes">
                <img src="../svg/UpDown.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Simple buy & sell options</div>
                <div class="trade__causes__desc">Buy and sell cryptocurrency quickly and easily.</div>
        
            </div>
            <div class="trade__causes">
                <img src="../svg/Grafs.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Advanced trading</div>
                <div class="trade__causes__desc">Access advanced order types including limit, market, stop limit and dollar cost averaging.</div>
            </div>
            <div class="trade__causes">
                <img src="../svg/Circle.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Portfolio tracking</div>
                <div class="trade__causes__desc">Track your total asset holdings, values and equity over time.</div>
            </div>
            <div class="trade__causes">
                <img src="../svg/Mobile.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Mobile app</div>
                <div class="trade__causes__desc">Monitor markets, manage your portfolio, and trade crypto on the go.</div>
                
            </div>
            
        </div>
        <img src="../img/TradePhone.png" alt="not founded" class = "TradePhone">
    </div>
    
</section>