<section class="vip container">
    <div class="main__info">
        <div class="vip__item vip__mini__title">VIP Program</div>
        <div class="vip__item vip__big__title">When you need more than just a crypto exchange</div>
        <div class="vip__item vip__item__desc">Access world-class APIs, a lower fee structure and a dedicated Account Manager.</div>
    </div>
    <div class="vip__causes">
        <div class="vip__row">
            <img src="../svg/VipFlash.svg" alt="not founded">
            <div class="vip__desc">API integrations</div>
        </div>
        <div class="vip__row">
            <img src="../svg/Fees.svg" alt="not founded">
            <div class="vip__desc">Lower fees</div>
        </div>
        <div class="vip__row">
            <img src="../svg/Person.svg" alt="not founded">
            <div class="vip__desc">Dedicated Account Manager</div>
        </div>
    </div>
    <div class="btn__row"><a href="#"><div class="btn__learnmore">Learn more</div></a></div>
    <div class="pic__row">
        <img src="../img/bigpictureinmid.png" alt="not founded" class = "section__pic">
    </div>
</section>