<section class=" container wallet">

    <div class="main__trade__row">
        <img src="../img/WalletPhone.png" alt="not founded" class = "WalletPhone">
        <div class="trade__causes__row">
            <div class="Trade__title-mini">Wallet</div>
            <div class="Trade__title">Simple and secure wallet services</div>
            <div class="trade__causes">
                <img src="../svg/Safe.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Secure asset storage</div>
                <div class="trade__causes__desc">We use multi-signature technology to securely store your assets.</div>
        
            </div>
            <div class="trade__causes">
                <img src="../svg/Point.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Assets held in Australia</div>
                <div class="trade__causes__desc">100% Australian-based custody of your assets.</div>
            </div>
            <div class="trade__causes">
                <img src="../svg/Wallet.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Multi-coin wallet</div>
                <div class="trade__causes__desc">Store multiple assets simultaneously in one wallet.</div>
            </div>
            <div class="trade__causes">
                <img src="../svg/Upload.svg" alt="not founded" class="trade__img">
                <div class="trade__causes-mini">Fast funding</div>
                <div class="trade__causes__desc">Credit your wallet with AUD in seconds using Osko PayID.</div>
                
            </div>
            
        </div>
        
    </div>
    
</section>