body {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fade; 
    animation-duration: 1.5s;
}

@keyframes fade{
    from {
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}