@import './fonts';
@import './global';
@import './vars';
@import './reset';
// подключения компонентов страницы
@import "./components/header";
@import "./components/causes";
@import "./components/google-add";
@import "./components/trade";
@import "./components/currencies";
@import "./components/vip";
@import "./components/instructions";
@import "./components/mainlinks";
@import "./components/news";
@import "./components/getstarted";
@import "./components/footer"
// Основыные стили